{% extends "splitexpense/include/base.html" %}
{% load static %}

{% block title %}Expense Tracker{% endblock title %}

{% block body %}
<div class="m-10 font-bold">Add Expense ➕</div>
<form method="post" class='shadow-lg m-10 rounded-lg'>
    {% csrf_token %}
    <div class="form-container px-10 py-10 flex">
        {% for field in expense_form %}  
            <div class="mx-10">
                <div class="mb-5">
                    {{field.label_tag}}
                </div>
                <div class="border">
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <div class="mx-10 mt-9">
            <button name="Add" class="bg-green-500 px-5 py-2 rounded-lg text-white font-bold">Add</button>
        </div>
    </div>
</form>
<div class="m-10 font-bold">Expenses</div>
<div class="shadow-lg m-10 rounded-lg">
    <div class="expense-header flex flex-wrap space-x-40 px-20 py-5">
        <span>Name</span>
        <span>Amount</span>
        <span>Category</span>
        <span>Date</span>
        <span>Edit</span>
        <span>Delete</span>
    </div>
    <hr class="m-10">
    {% for ex in expenses %}  
    <div class="expense-row flex flex-wrap px-20 py-5">
        <span class="font-bold">{{ex.name}}</span>
        <span class="font-bold">{{ex.amount}}</span>
        <span class="font-bold">{{ex.category}}</span>
        <span class="font-bold">{{ex.date}}</span>
        <span class="pl-28"><a href="{% url "edit" ex.id %}">
            <img class="h-5" src="{% static "splitexpense/images/edit.png"%}" alt="Edit"/></a></span>
        <span class="pl-22">
            <form method="post" action="{% url "delete" ex.id %}">
                {% csrf_token %}
                <button type="submit" name="delete"><img class="h-5" src="{% static "splitexpense/images/delete.png"%}" alt="Delete"/></button>
            </form>
        </span>
    </div>
    {% endfor %}
</div>
{% endblock body %}